
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.dashboard-icon {
  padding-top:80%;
  position:relative;
  display:block;
  width:80%;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.dashboard-icon span {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}